#expand-button {
    width: 165px;
    height: 60px;
    color: var(--expand-button-color);  
    font-family: Playfair Display;
    font-size: 14px;
    font-weight: 400;
    stroke-width: 0px;
    border-color: var(--expand-button-color);
    background-color: white;
    border-style: solid;
    justify-content: center;
    margin-bottom: 66px;
    margin-top: 94px;
    margin-left: 45%;
}
#expand-button:hover {
    border-color: var(--hover-color);
    color: var(--hover-color);
}